<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfAppMag.Properties.Settings.xmlDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\XMLDB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfAppMag.Properties.Settings.D__KAMIL_STUDIA_II_APLIKACJA_MAGISTERSKA_WPFAPPMAG_WPFAPPMAG_LOCALDB_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=&quot;D:\KAMIL\STUDIA II\APLIKACJA MAGISTERSKA\WPFAPPMAG\WPFAPPMAG\LOCALDB.MDF&quot;;Integrated Security=True;;user id=Test;password=Test; Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="WpfAppMag.Properties.Settings.xmlDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Kamil\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\xmlDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfAppMag.Properties.Settings.XMLDBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\XMLDB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>